
$primary_font: 'Ubuntu', sans-serif;

$highlight_dark: #2b3643;

$highlight_dark_2: #27303a;

$primary_font_color: rgba(#3C434A,.85);

$nav_font_color: #B4BCC8;	

$highlight_light: #fff;

$highlight_light_2: rgb(99, 105, 117);